@import '~simplemde/dist/simplemde.min.css';

.markdown-editor {
    .CodeMirror,
    .CodeMirror-scroll {
        height: 150px;
        min-height: 150px;
    }

    .Codemirror-fullscreen .CodeMirror {
        height: auto;
    }

    .Codemirror-fullscreen .CodeMirror-scroll {
        height: 100%;
    }
}