#quiz-ui {
    .button-quiz {
        min-width: 70px;
    }
    
    small.button-label {
        top: 30px;
        left: 50px;
        position: relative;
    }
    
    #quiz-modal {
        .modal-body {
            height: 600px;
        }
    
        .counter {
            position: absolute;
            right: 1em;
            bottom: 1em;
            padding-left: 0.5em;
            padding-right: 0.5em;
            background-color: white;
            border-radius: 0.2em;
        }
    }
}