@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "./reference/index.scss";

$nav-width: 70px;

.stretched {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.overflow-scroll {
    overflow: scroll;
}

.separate-vertical {
    position: relative;
    background-color: lightgray;
    height: 100%;
    width: 1px;
    top: 0;
}

.body {
    position: fixed;
    height: 100%;
    width: 100%;
    left: $nav-width + 1px;
    top: 0;
    overflow: scroll;
}

button.dropdown-toggle {
    width: 10px;
    min-width: 10px;
    padding-left: 0px;
}

.dropdown-toggle {
    width: 1em !important;
    padding-left: 0.1em !important;
}

.nav-left {
    width: $nav-width;

    > .nav-item > a {
        padding: 0 !important;
        width: 100% !important;
    }

    i {
        width: 70px;
        height: 70px;
        font-size: 50px;
        text-decoration: none !important;
        color: darkblue;
        padding: 0.5rem 0.5rem;
    
        &:hover {
            color: blue;
        }
    }
}

.animated {
    animation: simple-animation 0.8s linear;

    @keyframes simple-animation {
        99% {
            opacity: 0.5;
            transform: scale(1.1);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.btn:active {
    transition: all 0.5s ease-in;
    opacity: 0.5;
    transform: scale(1.1);
}

input, textarea {
    &.form-control {
        background-color: white !important;
    }
}

pre {
    white-space: pre-wrap;
}

.no-border {
    border: none;
    padding-left: 0;
}


.treeview {
    ul {
        list-style: none;
    }

    li {
        user-select: none;

        .tree-text:hover {
            color: blue;
        }
    }

    .caret {
        width: 2em;
        display: inline-block;
    }
    
    .tree-score {
        padding-right: 50px;
        display: inline-flex;

        > * {
            width: 3em;
            display: inline-block;
            text-align: right;
        }

        > .tree-new {
            color: green;
        }

        > .tree-leech {
            color: red;
        }

        > .tree-due {
            color: blue;
        }

        > .tree-action {
            display: inline-flex;
            margin-left: 1em;
            margin-top: 0.3em;
            height: 0.7em;

            > button {
                flex: 0;
                padding-left: 0.3em;
                padding-right: 0.3em;
            }
        }
        
        .dot-green {
            margin-top: -0.2em;
            height: 0.5em;
            width: 0.5em;
            background-color: #28a745;
            border: 1px solid gray;
            border-radius: 50%;
            display: inline-flex;
        }
    }
}

.small-spinner {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    display: block;
}